<div class="row">
	<div class="col-md-6">
		<input type="text" class="form-control" ng-model="stockA">
		<button ng-click="click()">Submit</button>
		<h4>Chart View A</h4>
		<div id="containerA" style="width:100%; height:600px;"></div>
	</div>
	<div class="col-md-6">
		<input type="text" class="form-control" ng-model="stockB">
		<button ng-click="click()">Submit</button>
		<h4>Chart View B</h4>
		<div id="containerB" style="width:100%; height:600px;"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Bid</td>
				<td>Ask</td>
			</tr>
			<tr>
				<td>{{ stockAdata.Name }}</td>
				<td>{{ stockAdata.Bid }}</td>
				<td>{{ stockAdata.Ask }}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table-striped">
			<tr>
				<td>Name</td>
				<td>Bid</td>
				<td>Ask</td>
			</tr>
			<tr>
				<td>{{ stockBdata.Name}}</td>
				<td>{{ stockBdata.Bid}}</td>
				<td>{{ stockBdata.Ask}}</td>
			</tr>
		</table>		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4>Compare Chart View</h4>
		<div id="containerC" style="width:100%; height:600px;"></div>
	</div>	
</div>

